.footerstyle {
  background-color: #52368c;
}
/*-----------------header------------------*/
@media (min-width: 600px) {
  .MuiToolbar-regular {
    min-height: auto !important;
  }
}
/* @media (min-width: 0px) and (orientation: landscape)
{
.MuiToolbar-regular {
    min-height: 48px;
}
}*/

.MuiToolbar-regular {
  margin-top: 0px !important;
  padding-top: 5px !important ;
}

@media (min-width: 1200px) {
  .uk-card-body {
    padding: 0px 0px;
  }
}

.toolbarstyle {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 10px #0000001a !important;
  opacity: 1 !important;
}

.header-image{
    padding-right: 152px;
}

.header-menu{
widows: 50%;
}

.icon-button-adjust{
    margin-top: 39px;}

.MuiIconButton-label {
  /* margin: 20px; */
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
.uk-card-body {
  display: flow-root;
  padding: 5px 5px;
}
.card-details-outer {
  margin: 25px 6px 18px 15px;
  height: 136px;
}

.card-header-UI {
  text-align: left;
  border-radius: 4px;
  opacity: 1;
}

.card-details-UI {
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
  color: #818181;
  opacity: 1;
}

.sectionAdjust {
  text-align: left;
  font: normal normal medium 20px/26px Roboto;
  letter-spacing: 0px;
  color: #818181;
  opacity: 1;
}
.sectionDiv {
  padding-top: 10px;
}
.main-head {
  text-align: left;
  font: normal normal bold 48px/63px Roboto;
  letter-spacing: 0px;
  color: #5a5a5a;
  opacity: 1;
}

.mainDetails {
  text-align: left;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.side-box1 {
  top: 482px;
  left: 1111px;
  width: 287px;
  height: 252px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d9dede;
  border-radius: 4px;
  opacity: 1;
  border-top: 6px solid #311c52;
  padding: 10px;
  margin-bottom: 27px;
}

.side-box2 {
  top: 482px;
  left: 1111px;
  width: 287px;
  height: 252px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d9dede;
  border-radius: 4px;
  opacity: 1;
  border-top: 6px solid #c0ae09;
  padding: 10px;
  margin-bottom: 27px;
}

.sidebarHeader {
  text-align: left;
  font: normal normal medium 20px/26px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.sidebarpara {
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.colAdjust {
  float: right !important;
}
.TypographyAdjust {
  text-align: left;
  font: normal normal 300 14px/19px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
@media (max-width: 600px) {
  .TypographyAdjust {
    font-size: xx-small;
  }
}

.navpara {
  text-align: left;
  font: normal normal 300 14px/19px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.linkfont {
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #3a3939;
  opacity: 1;
}

.navbackground {
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 100%;
  height: auto;
  max-height: 65px;
  box-shadow: 0px 3px 10px #0000001a;
  opacity: 1;
}

.linkfont {
  text-align: left;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #3a3939;
  opacity: 1;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.uk-navbar-nav > li > a {
  color: #999;
  text-transform: none !important;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color;
}

.navigationDiv {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .hideMobile {
    visibility: hidden;
    clear: both;
    display: none;
  }
}
